{% extends 'base.html.twig' %}

{% block title %}Mon compte - Samatakkay !{% endblock %}

{% block content %}
    <h1>Mon compte</h1>
    Bienvenu {{app.user.firstname}} dans votre compte. <br/>
    C'est ici que vous allez pouvoir gérer toutes vos informations.
    <hr>
    <pre>
    A faire 
     - Modifier mon mot de passe
     - Ajouter une Adresse
     - Mes commandes 
     <hr>
     </pre>
{% endblock %}
