{% extends 'base.html.twig' %}

{% block title %}Modifier le mot de passe - Samatakkay!{% endblock %}

{% block content %}
<h1>Modifier mon mot de passe</h1>
{% if notification %}
    <div class="alert alert-info">{{ notification }}</div>
{% endif %}
<a href="{{ path('account') }}">&#x2190;Retour</a>
{{ form(form) }}
{% endblock %}
