main {
    min-height: 70vh;
}

.navbar-item-custum,
.navbar-item-custum a {
    text-decoration: none;
    color: #d0d0d0;
}

.navbar-item-custum a:hover {
    color: #fff;
}

.title {
    text-align: center;
    margin: 0 auto 50px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after {
    content: " ";
    background: #ff523b;
    width: 90px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 45%;
    transform: translateY(-60%);
}

.cards-custum {
    flex-basis: 33%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform .5s;
}

.block-small {
    max-width: 600px;
    margin: auto;
}

.carousel {
    background: radial-gradient(#fff, #ffd6d6);
}

.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    border-radius: 30px;
    margin: 30px 0;
    padding: 8px 30px;
    transition: background 0.5s;
}

.btn:hover {
    background: #be2020;
    color: #fff;
}

.product-page-price {
    font-size: 2rem;
    font-weight: bold;
}

.total-price {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
}

th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}

td {
    padding: 10px 5px;
}

.total-price table {
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 400px;
}

td:last-child,
th:last-child {
    text-align: right;
}

.cart-icon {
    height: 25px;
    padding-left: 20px;
}

.action-updatePreparation {
    margin-left: 10px;
}

.form-check {
    background: radial-gradient(#fff, #ffd6d6);
    padding: 20px 65px;
    margin-top: 10px;
}

.col-form-label {
    font-weight: bold;
}

.order-summary {
    background: radial-gradient(#fff, #ffd6d6);
    padding: 20px;
    margin-top: 10px;
}

.account-item {
    background-color: #f1f2f6;
    padding: 60px;
}

.account-item a {
    text-transform: uppercase;
    font-size: 13px;
    color: #4b6584;
    font-weight: bold;
}

.account-item a:hover {
    text-transform: uppercase;
    color: #34495e;
    text-decoration: none;
}

footer {
    background-color: rgba(52, 58, 64);
    color: #d0d0d0;
    padding-top: 2rem;
    padding-bottom: 1rem;
    position: absolute;
}

footer a {
    color: #999;
    font-size: 2rem;
    transition: all .2s ease-out;
}

footer li a {
    font-size: 1rem;
    color: #d0d0d0;
}

footer a:hover {
    color: #fff;
    text-decoration: none;
}

footer a i {
    padding: 0 1rem;
}

footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

ul {
    list-style-type: none;
}

.copyright {
    text-align: center;
}


/*-------------------media query 768px---------

@media only screen and (min-width: 768px) {
    .cards-custum {
        flex-basis: 50%;
    }
}
*/


/*-------------------media query 600px---------*/

@media only screen and (max-width: 600px) {
    .cards-custum {
        flex-basis: 100%;
    }
    .row {
        text-align: center;
    }
}