{% extends 'base.html.twig' %}

{% block title %}Page introuvable - samatakkay!{% endblock %}

{% block content %}
    <div class="block-small text-center">
        <h1 class="title">Page introuvable</h1>
        <p>Oups! Cette page ne semble pas être disponible pour le moment.</p>
        <a href="{{ path('home') }}" class="btn">Revenir à l'accueil</a>
    </div
{% endblock %}
