{% extends 'base.html.twig' %}

{% block title %}Page introuvable - samatakkay!{% endblock %}

{% block content %}
<h1 class="title">Page introuvable</h1>
    <div class="block-small text-center">
        <p>Oups! La page que vous recherchez semble introuvable. Retournez à la page d'accueil pour continuer.</p>
        <a href="{{ path('home') }}" class="btn">Revenir à l'accueil</a>
    </div
{% endblock %}
